body{
    background-color: LightSlateGray;
}


header{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    gap: 50px;
}

header a{
    text-decoration: none;
    color: inherit;
}


.topo{
    display: flex;
    margin-top: 100px;
}


.titulo{
    width: 50%;
    font-size: 10px;
    margin-right: 180px;
    margin-top: -20px;
}

.imagem{
    margin-left: 130px;
}

.imagem img{
    border: 2px solid black;
    border-radius: 3px;
    max-width: 100%;
    height: auto;
}


.embaixo{
    margin-top: 160px;
}

.TextoEmbaixo{
    display: flex;
    justify-content: center;
}

.imangesEmbaixo{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.sobre{
    margin-left: 200px;
    font-size: 25px;
}


footer {
    text-align: center;
    background-color: SteelBlue;
}

.foot{
    margin-top: 100px;
}


@media (max-width: 992px){

    .topo{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .titulo{
        width: 90%;
        margin: 0;
        font-size: 18px;
    }

    .imagem{
        margin-left: 0;
        margin-top: 20px;
    }

    .sobre{
        margin-left: 0;
        text-align: center;
    }
}


@media (max-width: 600px){


    header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 25px;
        width: 100%;
        padding: 10px 0;
        text-align: center;
    }

    header a{
        width: auto;
        text-align: center;
        font-size: 18px;
    }


    .titulo{
        width: 100%;
        font-size: 22px;
        text-align: center;
        margin-top: 20px;
    }


    .imangesEmbaixo{
        gap: 30px;
    }

    .embaixo{
        margin-top: 80px;
    }
}




